<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Signature</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Table for email signature with a gradient background from bottom (light) to top (dark) -->
    <table style="width: 680px; border-collapse: collapse; background: linear-gradient(to top,#1879bf , #0e4d87 ); color: white; font-family: 'Lato', sans-serif" >
        <tr>
            <!-- First Column for content -->
            <td style="width: 150px; height: 150px; padding: 40px; border-right: 1px solid linear-gradient(to top,#1879bf , #0e4d87 ); font-size: 14px;">
                <!-- Name -->
                <p style="margin: 0; font-size: 30px;">Tim Stewart</p>
                <!-- Phone numbers -->
                <p style="margin: 15px 0; font-size: 14;" >Tel: <b>+505 900 5395</b></p>
                <p style="margin: 15px 0;font-size: 14;">Office: <b>877-736-0803</b></p>
                <!-- Website link -->
                <p style="margin: 20px 0;">
                    <a href="http://www.impactnations.com" style="text-decoration: none; font-size: larger; color: #feba01;">www.impactnations.com</a>
                </p>
                <!-- Impact nation logo -->
                <img src="https://dl.dropboxusercontent.com/scl/fi/nehhgewoziruud9ikc4gc/Impact-Nations-White-Logo.png?rlkey=h38xjoq6yselhm8vet8cro4im&st=p22k2e2d&dl=0" alt="Impact nation logo" style="display: block; margin: 10px 0; width: auto;height: 2rem;">
                <!-- Two logos placed horizontally -->
                <div style="justify-content: space-between; width: 100%;">
                    <img src="https://dl.dropboxusercontent.com/scl/fi/k2afuqzu6d2syrztwifra/INI-Badges-05.png?rlkey=00wodhrr771egbfita2eacax5&st=crfnx800&dl=0" alt="Logo 1" style="width: 5rem; height: 5rem;">
                    <img src="https://dl.dropboxusercontent.com/scl/fi/w93u3mssmgxbczd4qvcfv/INI-Badges-06.png?rlkey=0eln4u1p6o28eir0votj3g72u&st=i1yvzvtk&dl=0" alt="Logo 2"style="width: 5rem; height: 5rem">
                </div>
            </td>
            <!-- Second Column with the video, call to action, and Icons -->
            <td style="width: 400px; padding: 20px 10px 10px 10px; font-size: 14px; background-color: #1879bf;">
                <!-- Video thumbnail -->
                <a href="https://www.impactnations.com/our-mission">
                    <img src="https://dl.dropboxusercontent.com/scl/fi/l0m0w387d937ve2gefljd/Signature-photo.png?rlkey=93t3250xo2l3uwm08qs80g54n&st=nf3zgagp&dl=0" alt="Video Thumbnail" style="width: 100%; height: auto; margin-bottom: 20px;">
                </a>
                <!-- Icons aligned horizontally -->
                <div style="display: flex; justify-content: center; align-items: center;">
                    <div style="margin-right: 20px;">
                        <!-- Call to action text -->
                        <p style="margin: 20px 0; font-size: 14px;"><b>Learn more about<br> Impact Nations</b></p>
                    </div>
                    <!-- Journey Of Compassion -->
                    <div style="text-align: center; margin-right: 10px;">
                       <a href="/aboutus" style="color: white; text-decoration: none;">
                        <img src="https://dl.dropboxusercontent.com/scl/fi/rxxuoxyvl5w7o0jiye0we/INI-Icons-07.png?rlkey=5psw7itmfylntw0vecwub1tuj&st=wz4sk71s&dl=0" alt="Journey Of Compassion" style="display: block; width: 2rem; height: 2rem; margin-bottom: 10px;padding-left: 1rem;">
                        <span>Journey Of <br>Compassion</span>
                       </a>
                    </div>
                    
                    <!-- Vertical divider -->
                    <div style="width: 1px; height: 50px; background-color: #ddd; margin-right: 10px;"></div>
                    <!-- Relief -->
                    <div style="text-align: center; margin-right: 10px;">
                        <a href="https://www.impactnations.com/relief" style="color: white; text-decoration: none;">
                            <img src="https://dl.dropboxusercontent.com/scl/fi/ihn3krk9v6fgubl0mdjyx/INI-Icons-08.png?rlkey=pl6wdbgksw89z32ono960029s&st=0d4lrzy8&dl=0" alt="Relief" style="display: block; width: 2rem; height: 2rem; margin-bottom: 10px;">
                        <p><span>Relief</span></p>
                        </a>
                    </div>
                    <!-- Vertical divider -->
                    <div style="width: 1px; height: 50px; background-color: #ddd; margin-right: 10px;"></div>
                    <!-- Skills and Business -->
                    <div style="text-align: center;">
                        <a href="https://www.impactnations.com/product/370/skills-and-business-training" style="color: white; text-decoration: none;">
                            <img src="https://dl.dropboxusercontent.com/scl/fi/hfmq38ego65vfn1ppi8nc/INI-Icons-09.png?rlkey=k66rb0rm0q9m64krnt1rfamy5&st=p4s8q3gq&dl=0" alt="Skills and Business" style="display: block; width: 2rem; height: 2rem; margin-bottom: 10px;padding-left: 1rem;">
                        <span>Skills and <br>Business</span>
                        </a>
                    </div>
                </div>
            </td>
            <td>
                <div style="width: 15px;"></div> <!-- Last column for spacing -->
            </td>
            
        </tr>
    </table>
</body>
</html>